GraphEditor/src/main/resources/results.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT Simulations (Simulation)+>

<!ELEMENT Simulation (Elements)>
<!ATTLIST Simulation
  author NMTOKEN #REQUIRED
  dateTime CDATA #REQUIRED
  model NMTOKEN #REQUIRED>

<!ELEMENT Elements (Element)+>

<!ELEMENT Element (Data)>
<!ATTLIST Element
  id NMTOKEN #REQUIRED
  name NMTOKEN #REQUIRED>

<!ELEMENT Data (variable)+>

<!ELEMENT Variable (value)+>
<!ATTLIST Variable
  id CDATA #REQUIRED>

<!ELEMENT Value (#PCDATA)>
<!ATTLIST Value
  time CDATA #REQUIRED>
